# misc
*.orig
*.tar.gz
*.tar
*.swp

cscope.out
cscope.files
tags

bin/ezsh
linux/ezApp
android/SDL3-3.2.20
android/SDL
android/setup_files/orig

# picoc tests
picoc/my_tests

# version file
src/version.h

# under files dir
params
files/svcs/Location/loc_hist
files/apps/Weather/daily.json
files/apps/Weather/hourly.json
files/apps/Weather/info.json
files/apps/Weather/icon
files/apps/Memo/*.raw
files/apps/Test/recording.raw
