cscope.out
tags

*.orig
*.tar.gz
*.tar
*.swp

src/version.h

tools/ezsh

picoc/my_tests

linux/ezApp
linux/files
linux/assets

android/SDL3-3.2.20
android/SDL
android/setup_files/orig

apps/Primes/primes
apps/Reversi/reversi
apps/Test/test
apps/Test/recording.raw
apps/*/params

svcs/t1/t1
svcs/t2/t2
